<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= song.company_id %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= song.album_id %>
  </p>

</div>
