<div id="<%= dom_id album %>">
  <p>
    <strong>Name:</strong>
    <%= album.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= album.company_id %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= album.artist_id %>
  </p>

</div>
